In [1]:
%matplotlib inline

import numpy as np

from pandas import Series, DataFrame
import pandas as pd 
import matplotlib.pyplot as plt

A Series is a one-dimensional array-like object containing an array of data (of any
Numpy data type) and an associated array of data labels, called its **_index_**.

In [2]:
s = Series([3,5,-6,4,9])

In [2]:
another_s = Series([3,5,7,9,3], index=['a','d','f','g','e'])

In [4]:
print another_s.values
print another_s.index

[3 5 7 9 3]
Index([u'a', u'd', u'f', u'g', u'e'], dtype='object')

In [7]:
print another_s['f']
another_s[['e','g']]

7

e    3
g    9
dtype: int64

In [9]:
another_s[another_s>5]

f    7
g    9
dtype: int64

In [11]:
another_s>5

a    False
d    False
f     True
g     True
e    False
dtype: bool

In [13]:
another_s*2

a     6
d    10
f    14
g    18
e     6
dtype: int64

In [16]:
np.exp(another_s)

a      20.085537
d     148.413159
f    1096.633158
g    8103.083928
e      20.085537
dtype: float64

Another way to think about a Series is as a _fixed-length_, ordered dict, as it is a mapping
of index values to data values. It can be substituted into many functions that expect a
dict

In [3]:
import numpy as np

from pandas import Series, DataFrame
import pandas as pd 
import matplotlib.pyplot as plt

# if 7 in another_s:
#     print True

In [10]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

obj3 = Series(sdata)
obj3

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [11]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

obj4 = Series(sdata, index=states)
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [9]:
obj4+obj3

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [13]:
obj4.name=u'أي حاجة'

In [20]:
obj4.index.name = 'الولايات الامريكية'
print obj4.index.name

الولايات الامريكية

In [5]:
data = {'state': ['بصل','ثوم','كرفس','باذنجان','تقلية', 'd'],
'year': [2000, 2001, 2002, 2001, 2002,2020],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 7]}

frame = DataFrame(data, index=['1', '2', '2', '4', '5','f'], 
                 columns=['pop','year','state','kaka'])
frame

   pop  year    state kaka
1  1.5  2000      بصل  NaN
2  1.7  2001      ثوم  NaN
2  3.6  2002     كرفس  NaN
4  2.4  2001  باذنجان  NaN
5  2.9  2002    تقلية  NaN
f  7.0  2020        d  NaN

In [2]:
import numpy as np

from pandas import Series, DataFrame
import pandas as pd 
import matplotlib.pyplot as plt

In [7]:
frame.ix['2']

   pop  year state kaka
2  1.7  2001   ثوم  NaN
2  3.6  2002  كرفس  NaN